html,
body,
.App,
.App>div {
  height: 100%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-text button,
.card button,
.jumbotron button,
.container button,
.login-form button {
  border-radius: 40px;
}

.bg-light {
  background: rgb(237, 234, 234) !important;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

.container {
  width: 60%;
  border-radius: 2%;
}

.jumbotron .container {
  width: 100%;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
}

ol span {
  margin-left: 20px;
  opacity: 0.5;
}

ol span:hover {
  opacity: 1;
  color: rgb(204, 0, 13)
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card:hover {
  box-shadow: 5px 5px 8px 5px #888888;
}

/* .card button:hover {
  box-shadow: 5px 5px 8px 5px #888888;
} */

.jumbotron button:hover {
  box-shadow: 2px 2px 3px 2px #888888;
}

/* Navbar */

.navbar {

  margin-bottom: 0;
  background-color: #232020;

  height: 60px;
  width: 100%;

  opacity: 0.9;
}


.navbar li {
  margin: 0 20px 0 20px;
}

.navbar a {
  color: white
}

.navbar a:hover {
  color: rgb(204, 0, 13)
}

.navbar .active {
  color: rgb(204, 0, 13)
}

/* Home page */

.Homepage {
  background: rgb(237, 234, 234);
}

.Background {

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);


  /* Full height */


  /* Center and scale the image nicely */
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Position text in the middle of the page/image */
.bg-text {
  font-size: 12px;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}

.bg-text h1,
h2 {
  font-family: Lato, sans-serif;
}

#role_links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.bg-text ul li {
  margin: 1em;
}

.search-bar {
  width: 40%;
  border-radius: 0%;
}

#AboutUs,
.packages {
  color: #050000;
  font-weight: 400 !important;
  padding: 70px 80px;
}

#AboutUs h1,
#AboutUs h4,
.packages h4 {
  color: rgb(204, 0, 13)
}

hr {
  width: 50%;
  height: 3px;
  background-color: rgb(204, 0, 13);
  border: 0;
  margin: 0px auto 50px auto;
}

#AboutUs h1 {
  font: bold 32px "Open Sans", sans-serif;
}

#AboutUs p {
  margin-bottom: 2rem;
}

.login-form {
  font-size: 12px;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.login-form label,
.panel {
  font-size: 1rem;
}


/* Pop-up box */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 35%;
  right: 35%;
  top: 20%;
  bottom: 45%;
  margin: auto;
  border-radius: 20px;
  background: #fff;
}

/* Sidebar */

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: rgb(237, 234, 234);
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .8);
  border-bottom: 3px solid rgb(204, 0, 13)
}

#sidebar-wrapper .list-group {
  width: 15rem;
  color: rgb(85, 85, 85);
}

#sidebar-wrapper .list-group-item {
  background-color: rgb(237, 234, 234);
  font-size: 15px
}

#sidebar-wrapper .list-group-item:hover {
  color: rgb(204, 0, 13);
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 890px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  a {
    font-family: arial;
    font-size: 20px;
  }

  .sidebar-heading {
    font-family: sans-serif;
    font-size: 45px !important;
  }
}

/* Package */
.packages {
  padding-top: 0px;
}

.packages .grid li {
  padding: 50px;
  flex-basis: 50%;
  text-align: center;
}


.packages .grid li i {
  color: black;
}

.packages .grid li h4 {
  font-size: 30px;
  margin: 25px 0;
}

@media (max-width: 800px) {
  .packages .grid li {
    flex-basis: 100%;
    padding: 20px;
  }
}


/*Footer Section*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #232020;
  color: rgb(237, 234, 234);
  padding: 20px 0 0 0;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  align-self: center;
}

@media (max-width: 1100px) {
  footer {
    flex-direction: column;
  }

  footer p {
    text-align: center;
    margin-bottom: 20px;
  }

  footer ul li {
    margin: 0 8px;
  }
}