* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html {
	font: normal 16px sans-serif;
	color: #555;
}


section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

.slogan {
	background-color: black;
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}
.slogan h1 {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.slogan h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.slogan-content {
	opacity: 1;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

